html,
body {
    height: 100%;
    margin: 0;
    background-image: url("../imagenes/posible_fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* Elimina márgenes por defecto */
}

body {
    background-color: rgb(2, 14, 27);
}

#contenedor-titulo {
margin-top: 0%;
margin-right: 0%;
margin-left: 0%;
padding-top: 0%;
background-color: rgb(35, 29, 28);
}
#titulo{
    margin-top: 0%;
    margin-left: 40%;
    padding: 2%;
    color: rgb(223, 199, 17);
}




#barra-lateral {
    margin-top: 0%;
    width: 200px;
    height: 60%;
    background-image: url("../imagenes/poste-barber-retocado.png");
    background-size: cover;
    color: rgb(225, 243, 104);
    padding: 20px;
    position: absolute;
    left: -220px;
    transition: left 0.3s;
}

#barra-lateral:hover {
    left: 0
}

.lista {
    list-style-type: none;
    margin: 10px 0;
}