body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../imagenes/fondo_pagina_salon_barber.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
.tarjeta-reserva {
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
    max-width: 300px;
    width: 100%;
    color: #ffffff;
    text-align: left;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    box-sizing: border-box; /* Asegura que padding no altere el ancho total */
}

h2 {
    color: #ffcc00;
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"], input[type="tel"], input[type="date"],input[type="mail"], select {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Asegura que padding no altere el ancho total */
}

button {
    background-color: #ffcc00;
    color: #333;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #e6b800;
}

#time {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none; /* Cambiado a "none" para mantener el diseño uniforme */
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}
